/* 
vs code color options
*/

#first {
  color: rgba(60, 36, 194, 0.815);
  background: #000000;
}
#second {
  color: hwb(305 28% 37%);
  background: #00ff00;
}
#third {
  color: #0000ff;
  background: #f15025;
}
#fourth {
  color: #f234ad;
  background: #222;
}
